@import 'mathsass';

.game {
    --grid-colour: black;
    --grid-size: 30px;
    --grid-offset-x: 0;
    --grid-offset-y: 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .map,
    .hud,
    .tokens {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .hud {
        pointer-events: none;
    }

    .grid {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-size: var(--grid-size) var(--grid-size);
        pointer-events: none;

        background-position: var(--grid-offset-x) var(--grid-offset-y);
        background-image:
            linear-gradient(to right, var(--grid-colour) 1px, transparent 1px),
            linear-gradient(to bottom, var(--grid-colour) 1px, transparent 1px);
    }

    .tokens {}
}