.token {
    --token-size: 1;
    --token-x: 0;
    --token-y: 0;

    position: absolute;
    top: 0;
    left: 0;

    $size: "var(--grid-size) * var(--token-size)";
    width: calc(#{$size});
    height: calc(#{$size});

    border-radius: 50%;

    $x: "var(--grid-size) * var(--token-x)";
    $y: "var(--grid-size) * var(--token-y)";
    transform: translate(calc(#{$x}), calc(#{$y}));

    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        opacity: 0.5;

        $shadow-x: calc(((var(--mouse-x) - var(--x)) / var(--scale)) - (#{$x}) - (#{$size} / 2));
        $shadow-y: calc(((var(--mouse-y) - var(--y)) / var(--scale)) - (#{$y}) - (#{$size} / 2));

        transform: translate(#{$shadow-x}, #{$shadow-y});
        pointer-events: none;
    }

    .menu {
        position: absolute;
        top: 50%;
        left: 50%;


        button {
            position: absolute;
            background: white;
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            top: -15px;
            left: -15px;

            @for $i from 0 to 10 {
                &:nth-child(#{$i + 1}) {
                    transition: transform 0.1s + $i * 0.1s;
                }
            }

            transform: translate(0, 0);

            &.close {
                background-color: darkred;
            }
        }
    }

    &.open {
        z-index: 10;

        .image {
            pointer-events: none;
        }

        .menu {
            @for $i from 0 to 10 {
                button:nth-child(#{$i + 1}) {
                    $angle: "#{$i} * -80deg * (1 / (var(--token-size) + 1)) - 130deg";
                    $distance: calc(var(--grid-size) * var(--token-size) / 2 + 20px);
                    transform: rotate(calc(#{$angle})) translate(#{$distance}, 0) rotate(calc(-1 * (#{$angle})));
                }
            }

        }
    }

    &.moving {
        pointer-events: none;

        .move {
            background-color: lightblue;
        }
    }
}